<h1>New
    <font color="#0000FF">G</font>
    <font color="#FFCCCC">a</font>
    <font color="#FFD523">m</font>
    <font color="#ff0000">e</font>
</h1>

<div>
  <% @letters.each do |letter|%>
    <%= letter %>
  <% end %>
</div>

<p>What is the <strong>longest</strong> word you can find?</p>

<div>
  <form action="new" data-turbo="false">
    <input type="text" name="answer">
    <input type="submit" value="PLAY">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
